html {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: #6E5C62;
    height: 100%;
}

.container {
    display:flex;
    flex-direction: column ;
    height: 100%;
    gap: 40px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title {
    margin: 0 150px 0 150px;
    color: white;
    font-weight: 600;
    font-size: 4vh;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin: 4px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: 0.125em solid #4C4347;
    background-color: #6e5c62;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
    font-size: 1.5em;
}

button {
    gap: 10px;
    font-size: 1em;
    background-color: #4C4347;
    color: white;
    border: none;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}

#empty-square1, #empty-square2, #empty-square3, #empty-square4, #empty-square1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 600;
    border: 7px solid #4C4347;
    color: white;
}